---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title='An agency website FIGMA to HTML/CSS conversion.'>
  <section id='heroSection' class='bg-[#DCEAF5] relative min-h-[40vh]'>
    <div class='flex wrapper py-36 justify-between'>
      <div class='flex flex-col gap-6'>
        <h1 class='text-6xl leading-tight text-[#1D3444] font-semibold'>
          Prosper with our <br /> bespoke solutions
        </h1>
        <p class='font-medium text-lg text-[#5B5B5B]'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br /> Suspendisse
          varius enim in eros elementum tristique
        </p>

        <div class='flex items-center gap-6'>
          <div class='bg-[#F58A07] px-8 py-6 rounded-full text-white'>
            <a href='#'>See Our Services</a>
          </div>
          <div
            class='px-8 py-6 rounded-full hover:bg-[#f8f8f8] duration-150 ease-out'
          >
            <a href='#'>See All Services</a>
          </div>
        </div>
        <span class='text-[#394149]/50 pt-12'>Worked with 100+ Companies</span>
        <div class='flex gap-6'>
          <img src='company1.svg' alt='' />
          <img src='company2.svg' alt='' />
          <img src='company3.svg' alt='' />
        </div>
      </div>

      <div>
        <img
          class='absolute bottom-0 right-0 lg:mr-20'
          src='/heroImage.png'
          alt=''
        />
      </div>
    </div>
  </section>

  <section class='wrapper py-36 w-full' id='secondSection'>
    <div class='flex flex-col gap-8'>
      <h2 class='text-5xl leading-tight font-semibold'>
        We help more than 1500 <br /> companies from all sectors
      </h2>
      <p class='max-w-3xl'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit
        amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo
        suscipit tellus et pellentesque.
      </p>
      <div class='grid mt-12 grid-cols-3 grid-rows-1 gap-12'>
        <Card
          title='Business strategy'
          src='/heroGrid1.jpg'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, '
        />
		<Card
          title='Digitalization'
          src='/heroGrid2.jpg'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, '
        />
		<Card
          title='Risk assessment'
          src='/heroGrid3.jpg'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, '
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
