---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardTwo from "../components/CardTwo.astro";
import CardThree from "../components/CardThree.astro";
---

<Layout title='An agency website FIGMA to HTML/CSS conversion.'>
  <section id='heroSection' class='bg-[#DCEAF5] relative min-h-[40vh]'>
    <div class='flex w-full flex-col lg:flex-row gap-80 sm:gap-96 lg:gap-0 wrapper justify-between'>
      <div class='flex w-full lg:w-6/12 py-36 z-10 flex-col gap-12 xl:gap-6'>
        <h1 class='text-5xl md:text-5xl xl:text-6xl 2xl:text-6xl leading-tight md:leading-snug text-[#1D3444] font-semibold'>
          Prosper with our <br /> bespoke solutions
        </h1>
        <p class='font-medium text-base md:text-lg text-[#5B5B5B]'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Suspendisse
          varius enim in eros elementum tristique
        </p>

        <div class='flex order-last sm:order-none flex-col sm:flex-row gap-8'>
          <div class='bg-[#F58A07] w-full text-center sm:max-w-max px-8 py-6 rounded-full text-white'>
            <a href='#'>See Our Services</a>
          </div>
          <div
            class='px-8 py-6 w-full text-center sm:max-w-max rounded-full bg-[#f8f8f8] duration-150 ease-out'
          >
            <a href='#'>See All Services</a>
          </div>
        </div>
        <span class='text-[#394149]/50 lg:pt-12'>Worked with 100+ Companies</span>
        <div class='flex flex-wrap gap-6'>
          <img class="h-6" src='company1.svg' alt='' />
          <img class="h-6" src='company2.svg' alt='' />
          <img class="h-6" src='company3.svg' alt='' />
        </div>
      </div>

      <div class="w-full lg:w-6/12 relative">
        <img
          class='absolute bottom-0 right-0 lg:right-0 xl:-right-12'
          src='/heroImage.png'
          alt=''
        />
      </div>
    </div>
  </section>

  <section class='wrapper py-36 w-full' id='secondSection'>
    <div class='flex flex-col gap-8'>
      <h2 class='text-5xl leading-tight font-semibold'>
        We help more than 1500 <br /> companies from all sectors
      </h2>
      <p class='max-w-3xl font-medium'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit
        amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo
        suscipit tellus et pellentesque.
      </p>
      <div class='grid mt-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 md:gap-12'>
        <Card
          title='Business strategy'
          src='/heroGrid1.jpg'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, '
        />
        <Card
          title='Digitalization'
          src='/heroGrid2.jpg'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, '
        />
        <Card
          title='Risk assessment'
          src='/heroGrid3.jpg'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et, '
        />
      </div>
    </div>
  </section>
  <section class='py-36 w-full bg-[#EDF7FF]' id='thirdSection'>
    <div class='wrapper flex flex-col gap-16'>
      <div class='flex flex-col md:flex-row gap-8'>
        <h2 class='text-4xl leading-tight text-[#0D1317] font-semibold'>
          We are building software solution that solves your business challenges
        </h2>
        <p class='text=[#1D3444] font-medium'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit
          amet eros blandit, hendrerit elit et, mattis purus. Vivamus commodo
          suscipit tellus et pellentesque.
        </p>
      </div>
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 md:gap-12'>
        <CardTwo
          src='/layerIconOrange.svg'
          title='Invoicing'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et.'
        />
        <CardTwo
          src='/magicIconOrange.svg'
          title='Support'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et.'
        />
        <CardTwo
          src='/heartIconOrange.svg'
          title='Surveying'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et.'
        />
      </div>
    </div>
  </section>

  <section class='py-36 w-full bg-white' id='fourthSection'>
    <div class='flex flex-col gap-20 lg:flex-row w-full wrapper'>
      <div class='my-auto w-full lg:w-6/12 mr-10'>
        <div class='flex gap-6 flex-col'>
          <h2 class='text-4xl lg:text-5xl font-semibold text-[#0D1317]'>
            The energy of a start-up combined with 30 years of experience.
          </h2>
          <p class='text-[#5B5B5B]'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus
            commodo suscipit tellus et pellentesque.
          </p>

          <div class='flex flex-col sm:flex-row pt-6 gap-16 sm:gap-4'>
            <div class='flex flex-col gap-4'>
              <span class='text-3xl font-bold text-[#F58A07]'>15+</span>
              <h5 class='text-2xl font-semibold text-[#0D1317]'>
                Awards received
              </h5>
              <p class='text-[#5B5B5B] font-medium'>
                Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit
                amet eros elit et.
              </p>
            </div>
            <div class='flex flex-col gap-6'>
              <span class='text-3xl font-bold text-[#F58A07]'>500+</span>
              <h5 class='text-2xl font-semibold text-[#0D1317]'>
                Clients Served
              </h5>
              <p class='text-[#5B5B5B] font-medium'>
                Lorem ipsum dolor sit amet, consectetur adipiscin. Curabitur sit
                amet eros elit et.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class='relative mr-16 lg:mr-0'>
        <img src='heroImageLadyFirst.jpg' class='w-full rounded-3xl' alt='' />
        <img class='absolute -top-10 -right-10' src='Circle.svg' alt='' />
      </div>
    </div>
  </section>
  <section
    class='w-full mb-20 wrapper bg-[#EDF7FF] rounded-2xl'
    id='fifthSection'
  >
    <div class='px-0 py-10 lg:p-10 relative'>
      <img src='Ribbon.svg' class='absolute hidden -top-4 -right-4' alt='' />
      <div class='flex flex-wrap gap-5'>
        <a class='cursor-pointer' href='#'
          ><button
            class='bg-white py-2 px-6 rounded-full font-semibold text-[#F58A07]'
            >Buisness Strategy</button
          ></a
        >
        <a class='cursor-pointer' href='#'
          ><button
            class='bg-transparent border border-[#A8BCCC] py-2 px-6 rounded-full font-semibold text-[#063255]/30'
            >Digitalization</button
          ></a
        >
        <a class='cursor-pointer' href='#'
          ><button
            class='bg-transparent border border-[#A8BCCC] py-2 px-6 rounded-full font-semibold text-[#063255]/30'
            >Risk Assesment</button
          ></a
        >
      </div>
      <div class='flex flex-col lg:flex-row w-full items-center pt-16'>
        <div class='flex w-full lg:w-5/12 flex-col gap-8'>
          <h2 class='text-4xl lg:text-5xl leading-tight font-semibold'>
            Helping clients with research and strategy for their business
          </h2>
          <p class='text-[#5B5B5B] font-medium'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            sit amet eros blandit, hendrerit elit et, mattis purus. Vivamus
            commodo suscipit tellus et pellentesque.
            <br />
            <br />
            Mattis purus. Vivamus commodo suscipit tellus et pellent. Curabitur sit
            amet eros blan esque.
          </p>
          <div class='flex gap-3'>
            <p class='text-[#F58A07] font-medium leading-snug'>
              See all services
            </p>
            <img src='/orangeArrow.svg' alt='' />
          </div>
        </div>
        <div class='w-full lg:w-7/12 mt-16 lg:ml-6 relative'>
          <img class='w-full float-right' src='fifthSectionImage.jpg' alt='' />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class='flex flex-col lg:flex-row w-full'>
      <div class='w-full lg:w-6/12 bg-[#F58A07]'>
        <img class='object-cover w-full h-full' src='jobVacancies.jpg' alt='' />
      </div>
      <div class='w-full lg:w-6/12 flex items-center py-16 p-10 lg:p-16 bg-[#F58A07]'>
        <div class='w-full flex gap-8 flex-col'>
          <h3
            class='font-semibold max-w-fit tracking-tighter leading-snug text-4xl lg:text-5xl text-white'
          >
            Energy of a start-up combined with 30 years of experience.
          </h3>
          <a class='' href=''
            ><button
              class='bg-white px-6 py-3 rounded-full font-semibold text-[#F58A07]'
              >See Job Vacancies</button
            ></a
          >
        </div>
      </div>
    </div>
  </section>
  <section class='w-full my-36 wrapper' id='sixthSection'>
    <div class='flex flex-col lg:flex-row items-center w-full'>
      <div class='lg:w-6/12 flex lg:p-6 flex-col mr-6 gap-10 lg:gap-8'>
        <h2 class='text-4xl lg:text-5xl font-semibold leading-tight'>
          Finsweet was a <br /> dream to work with
        </h2>
        <p>
          Maecenas efficitur scelerisque lorem, et varius lacus tincidunt vel.
          Pellentesque a arcu vitae diam dapibus mattis vel vel orci. Vivamus
          eleifend nec felis vel auctor.
        </p>
        <div class='flex gap-4 items-center'>
          <div><img src='avatar.jpg' alt='' /></div>
          <div class='flex flex-col'>
            <div class='text-xl font-medium'>Chikelu Neo</div>
            <div class='text-base font-medium text-[#F58A07]'>
              CEO at MazeAI
            </div>
          </div>
        </div>
      </div>
      <div class='lg:w-6/12 mt-10 lg:mt-0 w-full relative'>
        <div class='w-full'>
          <img
            src='testimonialVideoThumb.jpg'
            class='float-right w-full relative'
            alt=''
          />
          <div
            class='absolute flex gap-4 items-center text-white bottom-8 left-8'
          >
            <div
              class='w-10 flex items-center justify-center h-10 rounded-full bg-white'
            >
              <img src='playIcon.svg' alt='' />
            </div>
            <span>Play Video</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id='seventhSection' class='bg-[#DCEAF5] py-36'>
    <div class='wrapper flex flex-col gap-8'>
      <h2 class='text-4xl font-semibold leading-tight'>Latest Blog & News</h2>
      <div class='grid mt-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20 md:gap-12'>
        <CardThree
          title='Why you have to digitalize in 2021'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et.'
          src='heroGrid1.jpg'
        />
        <CardThree
          title='Our internal process and longerm vision'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et.'
          src='heroGrid2.jpg'
        />
        <CardThree
          title='Helping the next generation of leaders'
          body='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet eros blandit, hendrerit elit et.'
          src='heroGrid3.jpg'
        />
      </div>
    </div>
  </section>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
