---
export interface Props {
  title: string;
  body: string;
  src: string;
}

const { src, title, body } = Astro.props;
---

<div class='flex flex-col rounded-t-2xl bg-white gap-6'>
  <img class='rounded-3xl ' src={src} alt='' />
  <div class="bg-white px-6 flex flex-col gap-5">
    <h5 class='text-2xl tracking-tight font-medium'>{title}</h5>
    <p class='text-[#5B5B5B] leading-7 font-medium'>
      {body}
    </p>
    <div class='flex gap-3'>
      <p class='text-[#F58A07] font-medium'>Learn More</p>
      <img src='/orangeArrow.svg' alt='' />
    </div>
  </div>
</div>
