<footer class='bg-[#063255] text-white'>
  <div class='wrapper py-36'>
    <div class='grid grid-gols-1 md:grid-cols-2 md:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1 gap-16'>
      <div class='flex flex-col gap-8'>
        <img class='h-6 w-max' src='/LogoWhite.svg' alt='' />
        <h4 class='text-4xl tracking-tight leading-snug font-semibold'>
          Bespoke software solutions
        </h4>
        <div class='flex gap-4'>
          <img src='fb.svg' alt='' />
          <img src='yt.svg' alt='' />
          <img src='twitter.svg' alt='' />
          <img src='insta.svg' alt='' />
        </div>
      </div>
      <div class='flex gap-8 md:justify-between'>
        <div class='flex flex-col gap-4'>
          <span class='text-lg mb-6 font-semibold leading-snug'>Company</span>
          <a class='cursor-pointer opacity-80 w-max flex' href=''>About Us</a>
          <a class='cursor-pointer opacity-80 w-max flex' href=''>Careers</a>
          <a class='cursor-pointer opacity-80 w-max flex' href=''>Services</a>
          <a class='cursor-pointer opacity-80 w-max flex' href=''>Blog</a>
        </div>
        <div class='flex flex-col gap-4'>
          <span class='text-lg mb-6 font-semibold leading-snug'>Connect</span>
          <a class='cursor-pointer opacity-80 w-max flex' href='mailto:hi@finsweet.com'
            >hi@finsweet.com</a
          >
          <a class='cursor-pointer opacity-80 w-max flex' href='tel:+(123) 456-7890'
            >+(123) 456-7890</a
          >
        </div>
      </div>
      <div class='flex flex-col gap-8'>
        <span class='text-lg font-semibold'>Join Newsletter</span>
        <input
          placeholder='Type email here'
          class='w-full text-black p-4 rounded-full placeholder:text-gray-400 placeholder:text-sm text-sm bg-white'
          type='email'
        />
        <a class='flex w-fit' href='#'
          ><button
            type='submit'
            class='bg-[#F58A07] cursor-pointer w-fit font-semibold text-white px-6 py-3 rounded-full'
          >
            Subscribe
          </button>
        </a>
      </div>
    </div>

    <div class='flex flex-col md:flex-row gap-4 pt-12 justify-between'>
      <span class="text-sm tracking-tight"> © All rights reserved – Finsweet</span>
      <div class="flex opacity-80 text-xs gap-4">
        <a href='#'>Privacy Policy</a>
        <a href='#'>Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
