<nav class='w-full shadow-sm sticky top-0 left-0 z-50 bg-white flex h-20'>
  <div class='md:flex hidden items-center wrapper mx-auto w-full justify-between'>
    <a class='cursor-pointer' href='#'
      ><img src='/Logo.svg' class='h-7' alt='' /></a
    >

    <ul class='flex items-center text-base font-semibold text-[#394149] gap-6'>
      <a class='cursor-pointer' href='#'><li>About Us</li></a>
      <a class='cursor-pointer' href='#'><li>Careers</li></a>
      <a class='cursor-pointer' href='#'><li>Services</li></a>
      <a class='cursor-pointer' href='#'><li>Blog</li></a>
      <a class='cursor-pointer' href='#'
        ><button class='bg-[#F58A07]/10 px-8 py-3 rounded-3xl text-[#F58A07]'
          >Contact Us
        </button></a
      >
    </ul>
  </div>

  <div class='flex md:hidden w-screen'>
    <div class='flex px-6 w-screen justify-between items-center'>
      <img class='h-8' src='/Logo.svg' alt='' />

      <button id='menuButton' class='active:scale-95 duration-75 ease-out'>
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/></svg>
      </button>
    </div>
    <div
     id="mobileNavMenu" class='flex flex-col items-center place-content-center -left-[100%] w-[100%] h-[100%] bg-[#DCEAF5] fixed'
    >
      <div class='text-center font-medium'>
        <ul class='flex flex-col gap-6'>
          <a class='cursor-pointer mobileLink' href='#'><li>About Us</li></a>
          <a class='cursor-pointer mobileLink' href='#'><li>Careers</li></a>
          <a class='cursor-pointer mobileLink' href='#'><li>Services</li></a>
          <a class='cursor-pointer mobileLink' href='#'><li>Blog</li></a>
          <a class='cursor-pointer mobileLink' href='#'
            ><button
              class='bg-[#F58A07] px-8 py-3 rounded-3xl text-white'
              >Contact Us
            </button></a
          >
        </ul>
      </div>
      <button
        id='crossButton'
        class='fixed shadow-lg active:scale-95 duration-75 ease-out bg-white p-4 rounded-full bottom-8'
        ><svg
          xmlns='http://www.w3.org/2000/svg'
          width='32'
          height='32'
          viewBox='0 0 15 15'
          ><path
            fill='currentColor'
            fill-rule='evenodd'
            d='M12.854 2.854a.5.5 0 0 0-.708-.708L7.5 6.793L2.854 2.146a.5.5 0 1 0-.708.708L6.793 7.5l-4.647 4.646a.5.5 0 0 0 .708.708L7.5 8.207l4.646 4.647a.5.5 0 0 0 .708-.708L8.207 7.5l4.647-4.646Z'
            clip-rule='evenodd'></path></svg
        ></button
      >
    </div>
  </div>
</nav>

<style>
  #mobileNavMenu{
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  }

</style>

<script is:inline>
  const menuBtn = document.querySelector("#menuButton");
  const crossBtn = document.querySelector("#crossButton");
  const mobileNavMenu = document.querySelector("#mobileNavMenu");
  
 

  menuBtn.addEventListener("click", function(){
    mobileNavMenu.style.left = "0%"


  })

  crossBtn.addEventListener("click", function(){
    mobileNavMenu.style.left = "-100%"
    

  })


  document.querySelectorAll(".mobileLink").forEach(n => n.addEventListener("click", () => {
    mobileNavMenu.style.left = "-100%"


}))





</script>
