<div class='w-full sticky top-0 left-0 z-50 bg-white flex h-20'>
  <div class='flex items-center wrapper w-full justify-between'>
    <a class="cursor-pointer" href="#"><img src='/Logo.svg' class='h-7' alt='' /></a> 
    
      <ul class='flex items-center text-base font-semibold text-[#394149] gap-6'>
        <a class="cursor-pointer" href='#'><li>About Us</li></a>
        <a class="cursor-pointer" href='#'><li>Careers</li></a>
        <a class="cursor-pointer" href='#'><li>Services</li></a>
        <a class="cursor-pointer" href='#'><li>Blog</li></a>
        <a class="cursor-pointer" href="#"><button class="bg-[#F58A07]/10 px-8 py-3 rounded-3xl text-[#F58A07]">Contact Us
        </button></a>

  
      </ul>

      
  </div>
</div>
