---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'
      rel='stylesheet'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=''>
    <Navbar />

    <slot />

    <!-- <Footer /> -->
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  .wrapper {
    @apply px-6 lg:px-0 sm:max-w-4xl lg:max-w-5xl xl:max-w-6xl mx-auto;
  }
</style>
